In [8]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

df = pd.read_csv(r"E:\\Projects\\E-Commerce Revenue Optimization Engine\\Data\\raw\\archive (2)\synthetic_ecommerce_sales_2025.csv")
df

,order_id,customer_id,product_category,product_price,quantity,order_date,region,payment_method,delivery_days,is_returned,customer_rating,discount_percent,revenue
0,1,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Beauty,190.40,5,2023-02-21,Europe,BankTransfer,8,0,3.8,0,952.00
1,2,23b8c1e9-3924-46de-beb1-3b9046685257,Fashion,82.22,3,2023-10-13,North America,CreditCard,5,0,3.8,0,246.66
2,3,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,Beauty,15.19,2,2023-06-28,Oceania,Cash,6,1,2.0,10,27.34
3,4,972a8469-1641-4f82-8b9d-2434e465e150,Electronics,310.65,2,2023-07-11,Europe,PayPal,9,0,2.9,5,590.23
4,5,17fc695a-07a0-4a6e-8822-e8f36c031199,Fashion,74.05,4,2023-02-24,Africa,PayPal,3,1,3.1,20,236.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,95898eb0-3712-4824-accb-8d40fab73167,Beauty,354.84,5,2025-07-21,Europe,PayPal,8,0,3.0,0,1774.20
99996,99997,960dc639-d199-4aae-a22e-18d4dfc07403,Automotive,168.49,2,2023-02-09,North America,Cash,7,0,4.5,0,336.98
99997,99998,f9897ea5-454f-43c2-a464-2de35502fe95,Electronics,266.82,3,2023-06-13,Asia,PayPal,5,0,3.6,0,800.46
99998,99999,17d6608f-5c4b-44da-a4ec-f3171120f7bb,Fashion,36.09,1,2024-10-15,North America,BankTransfer,6,1,3.3,5,34.29
99999,100000,e6f4e3ae-a886-4da4-acbf-992019070b38,Toys,174.20,2,2025-03-01,Asia,BankTransfer,9,0,3.4,5,330.98

In [9]:
df.head()

,order_id,customer_id,product_category,product_price,quantity,order_date,region,payment_method,delivery_days,is_returned,customer_rating,discount_percent,revenue
0,1,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Beauty,190.40,5,2023-02-21,Europe,BankTransfer,8,0,3.8,0,952.00
1,2,23b8c1e9-3924-46de-beb1-3b9046685257,Fashion,82.22,3,2023-10-13,North America,CreditCard,5,0,3.8,0,246.66
2,3,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,Beauty,15.19,2,2023-06-28,Oceania,Cash,6,1,2.0,10,27.34
3,4,972a8469-1641-4f82-8b9d-2434e465e150,Electronics,310.65,2,2023-07-11,Europe,PayPal,9,0,2.9,5,590.23
4,5,17fc695a-07a0-4a6e-8822-e8f36c031199,Fashion,74.05,4,2023-02-24,Africa,PayPal,3,1,3.1,20,236.96

In [10]:
df.tail()

,order_id,customer_id,product_category,product_price,quantity,order_date,region,payment_method,delivery_days,is_returned,customer_rating,discount_percent,revenue
99995,99996,95898eb0-3712-4824-accb-8d40fab73167,Beauty,354.84,5,2025-07-21,Europe,PayPal,8,0,3.0,0,1774.20
99996,99997,960dc639-d199-4aae-a22e-18d4dfc07403,Automotive,168.49,2,2023-02-09,North America,Cash,7,0,4.5,0,336.98
99997,99998,f9897ea5-454f-43c2-a464-2de35502fe95,Electronics,266.82,3,2023-06-13,Asia,PayPal,5,0,3.6,0,800.46
99998,99999,17d6608f-5c4b-44da-a4ec-f3171120f7bb,Fashion,36.09,1,2024-10-15,North America,BankTransfer,6,1,3.3,5,34.29
99999,100000,e6f4e3ae-a886-4da4-acbf-992019070b38,Toys,174.20,2,2025-03-01,Asia,BankTransfer,9,0,3.4,5,330.98

In [12]:
# check the shape of data
df.shape

(100000, 13)

In [13]:
# basic info
df.info

<bound method DataFrame.info of        order_id                           customer_id product_category  \
0             1  bdd640fb-0667-4ad1-9c80-317fa3b1799d           Beauty
1             2  23b8c1e9-3924-46de-beb1-3b9046685257          Fashion
2             3  bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9           Beauty
3             4  972a8469-1641-4f82-8b9d-2434e465e150      Electronics
4             5  17fc695a-07a0-4a6e-8822-e8f36c031199          Fashion
...         ...                                   ...              ...
99995     99996  95898eb0-3712-4824-accb-8d40fab73167           Beauty
99996     99997  960dc639-d199-4aae-a22e-18d4dfc07403       Automotive
99997     99998  f9897ea5-454f-43c2-a464-2de35502fe95      Electronics
99998     99999  17d6608f-5c4b-44da-a4ec-f3171120f7bb          Fashion
99999    100000  e6f4e3ae-a886-4da4-acbf-992019070b38             Toys

       product_price  quantity  order_date         region payment_method  \
0             190.40         5  2023-02-21         Europe   BankTransfer
1              82.22         3  2023-10-13  North America     CreditCard
2              15.19         2  2023-06-28        Oceania           Cash
3             310.65         2  2023-07-11         Europe         PayPal
4              74.05         4  2023-02-24         Africa         PayPal
...              ...       ...         ...            ...            ...
99995         354.84         5  2025-07-21         Europe         PayPal
99996         168.49         2  2023-02-09  North America           Cash
99997         266.82         3  2023-06-13           Asia         PayPal
99998          36.09         1  2024-10-15  North America   BankTransfer
99999         174.20         2  2025-03-01           Asia   BankTransfer

       delivery_days  is_returned  customer_rating  discount_percent  revenue
0                  8            0              3.8                 0   952.00
1                  5            0              3.8                 0   246.66
2                  6            1              2.0                10    27.34
3                  9            0              2.9                 5   590.23
4                  3            1              3.1                20   236.96
...              ...          ...              ...               ...      ...
99995              8            0              3.0                 0  1774.20
99996              7            0              4.5                 0   336.98
99997              5            0              3.6                 0   800.46
99998              6            1              3.3                 5    34.29
99999              9            0              3.4                 5   330.98

[100000 rows x 13 columns]>

In [17]:
df.columns

Index(['order_id', 'customer_id', 'product_category', 'product_price',
       'quantity', 'order_date', 'region', 'payment_method', 'delivery_days',
       'is_returned', 'customer_rating', 'discount_percent', 'revenue'],
      dtype='object')

In [18]:
# describe numerical column
df.describe()

,order_id,product_price,quantity,delivery_days,is_returned,customer_rating,discount_percent,revenue
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,250.962504,3.085480,4.984620,0.060600,3.500493,5.014700,734.148001
std,28867.657797,141.743414,1.438706,2.579517,0.238596,0.867731,6.138865,571.191290
min,1.000000,4.518000,1.000000,1.000000,0.000000,2.000000,0.000000,4.260000
25%,25000.750000,128.387500,2.000000,3.000000,0.000000,2.800000,0.000000,274.110000
50%,50000.500000,251.430000,3.000000,5.000000,0.000000,3.500000,0.000000,585.550000
75%,75000.250000,372.270000,4.000000,7.000000,0.000000,4.200000,10.000000,1089.855000
max,100000.000000,500.000000,6.000000,9.000000,1.000000,5.000000,20.000000,2699.140000

## cleaning data

In [14]:
# check missing value
df.isnull().sum()

order_id            0
customer_id         0
product_category    0
product_price       0
quantity            0
order_date          0
region              0
payment_method      0
delivery_days       0
is_returned         0
customer_rating     0
discount_percent    0
revenue             0
dtype: int64

In [ ]:
df = df.drop_duplicates() # remove duplicates if any 
df

,order_id,customer_id,product_category,product_price,quantity,order_date,region,payment_method,delivery_days,is_returned,customer_rating,discount_percent,revenue
0,1,bdd640fb-0667-4ad1-9c80-317fa3b1799d,Beauty,190.40,5,2023-02-21,Europe,BankTransfer,8,0,3.8,0,952.00
1,2,23b8c1e9-3924-46de-beb1-3b9046685257,Fashion,82.22,3,2023-10-13,North America,CreditCard,5,0,3.8,0,246.66
2,3,bd9c66b3-ad3c-4d6d-9a3d-1fa7bc8960a9,Beauty,15.19,2,2023-06-28,Oceania,Cash,6,1,2.0,10,27.34
3,4,972a8469-1641-4f82-8b9d-2434e465e150,Electronics,310.65,2,2023-07-11,Europe,PayPal,9,0,2.9,5,590.23
4,5,17fc695a-07a0-4a6e-8822-e8f36c031199,Fashion,74.05,4,2023-02-24,Africa,PayPal,3,1,3.1,20,236.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,95898eb0-3712-4824-accb-8d40fab73167,Beauty,354.84,5,2025-07-21,Europe,PayPal,8,0,3.0,0,1774.20
99996,99997,960dc639-d199-4aae-a22e-18d4dfc07403,Automotive,168.49,2,2023-02-09,North America,Cash,7,0,4.5,0,336.98
99997,99998,f9897ea5-454f-43c2-a464-2de35502fe95,Electronics,266.82,3,2023-06-13,Asia,PayPal,5,0,3.6,0,800.46
99998,99999,17d6608f-5c4b-44da-a4ec-f3171120f7bb,Fashion,36.09,1,2024-10-15,North America,BankTransfer,6,1,3.3,5,34.29
99999,100000,e6f4e3ae-a886-4da4-acbf-992019070b38,Toys,174.20,2,2025-03-01,Asia,BankTransfer,9,0,3.4,5,330.98